<div id="main-container">
      <h1>{{rand}}</h1>
      <input value="abrir Janela" type="button" (click)="abrirJanela()" />
      <input value="mensagemA" type="button" (click)="enviarA()">
      <input value="mensagemB" type="button" (click)="enviarB()">
    <div id="main-content">
      <div id="dir-nav">
        <folder-tree [folder]="currentFolder" (onSelect)="showPhotos($event)"></folder-tree>
      </div>
      <div id="content"><image-list [images]="imagesDisplayed"></image-list></div>
    </div>

    <status></status>
</div>
